<app-base-page [PageTitle]="'History'">
  <div class="success-container">
    <table class="table container" id="list">
      <ng-container *ngIf="histories.length != 0">
      <thead>
      <tr>
        <td><strong>Learn Session</strong></td>
        <td><strong>Completed</strong></td>
        <td><strong>Cards Learned</strong></td>
      </tr>
      </thead>
      </ng-container>
      <tbody>
      <ng-container *ngFor="let history of histories;">
        <ng-container *ngIf="history.historyId != -1;">
          <tr (click)="openModal(content,history.historyId)">
            <td>{{changeDateFormat(history.createdAt)}}</td>
            <td>{{history.status}}</td>
            <td>{{history.cardsLearned}}</td>
          </tr>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="histories.length == 0">
        <tr>
          <td colspan="2">
            <div class="text-container text-center">
              <p>You have not done any Sessions yet. Start your first learn session and see the results here 😁</p>
              <button class="btn primary-background-color" routerLink="/deck/{{deckId}}">Return to Deck</button>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</app-base-page>


<ng-template #content let-modal>
  <div class="modal-header primary-background-color">
    <h4 class="modal-title" id="modal-basic-title">History Session Result</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(content)"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="learnedCards > 0">
    <app-donut-chart *ngIf="awaitChange" [chartNames]="chartNames" [chartValues]="chartData"></app-donut-chart>
    </div>
    <div *ngIf="learnedCards == 0">No Cards were learned during this Session</div>
  </div>
  <div></div>
  <div class="modal-footer">
    <button class="btn primary-background-color" value="Close" (click)="closeModal(content)">Close</button>
  </div>
</ng-template>
