.register-container {
  padding-top: 40px;
  overflow-x: hidden;
}

.register-card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #F0FDEE;
}

.simon {
  width: 150px;
  height: auto;
}

.sign-in-link {
  color: var(--primary-color);
}

.submit-button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.submit-button:hover,
.submit-button:active {
  background-color: var(--primary-color);
  color: white;
}

::placeholder {
  color: #999;
}

.card-footer {
  background: none;
  border-top: 0;
}

.error {
  color: var(--primary-error-color);
  /* other styles */
}

.password-policy {
  color: var(--primary-color);
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: help;
  padding: 0;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: smaller;
  vertical-align: middle;
}

.toggle-password {
  width: 50px;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
}

.toggle-password:hover,
.toggle-password:active {
  color: var(--primary-color);
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .register-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    width: 100%; /* Optional: Adjust the width of the card to fit smaller screens */
  }
  .profile-image {
    width: 120px; /* Optional: Adjust the size of the image for smaller screens */
  }
  .card-body {
    text-align: left;
    display: block;
  }
}
