
:root {
    --bs-primary-rgb: #72bb53;
}

.register-container {
    margin: 60px auto;
    width: 400px;
    /*min-width: 400px;*/
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color:  var(--primary-color);
    background-color:  var(--primary-color);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}

h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

form input {
    width: 90%;
    padding: 10px;
    /*margin: 10px 0;*/
    border: 3px solid #ccc;
    border-radius: 4px;
}

button {
    width: 95%;
    background-color: white;
    margin-top: 15px;
    padding: 10px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
  background-color: white;
}


a {
    color: #80d2f4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
  margin: 0;
}

#register-body {
}
input {
  display: block;
}

#headline_password,#headline_repeat,#headline_email,#headline_username{
text-align: left;
margin-top: 5px;
}
