:root {
    --bs-primary-rgb: #72bb53;
}

.login-container {
    margin: 60px auto;
    width: 400px;
    /*min-width: 400px;*/
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    background-color: green;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}

h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#remember-me {
    position: relative;
    left: 0;
    text-align: left;
    width: 10px;
}

button {
    width: 95%;
    background-color: white;
    padding: 10px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: white;
}

p {
    margin-top: 10px;
}

a {
    color: #80d2f4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#remember-me-container {
    display: inline-block;
    width: 100%;
}

#login-body {
}
