<ng-container *ngIf="!loginSuccess; else other">
<div class="register-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card register-card">
        <div class="card-body">

          <!-- Simon -->
          <div class="text-center">
            <img src="assets/fox3.png" alt="Profile Image" class="simon">
            <h2 class="my-3">Hey!</h2>
            <p>
              Don´t have an account yet? No worries!<br>
              Sign up by entering the information below.</p>
          </div>

          <!--TODO: Add Error Handeling undernaeath Input Fields! -->
          <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" id="register-form">

            <!-- Email -->
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input [style.border-color]="emailBorder" type="email" class="form-control" id="email"
                     placeholder="Enter your email" name="email" required ngModel>
            </div>

            <!-- Username -->
            <div class="form-group mb-3">
              <label for="username">Username</label>
              <input [style.border-color]="usernameBorder" type="text" class="form-control" id="username"
                     placeholder="Enter your username" name="username" required ngModel>
            </div>

            <!--TODO: Add Password Policy Hover Icon and Policy -->
            <!--TODO: Add "Show Password" -->
            <!-- Password -->
            <div class="form-group mb-3">
              <label for="password" class="mb-0">Password</label>
              <input [style.border-color]="passwordBorder" type="password" class="form-control" id="password"
                     placeholder="Enter your password" name="password" ngModel required>
            </div>

            <!-- Password repeat -->
            <div class="form-group mb-4">
              <label for="password-repeat" class="mb-0">Confirm Password</label>
              <input [style.border-color]="passwordRepeatBorder" type="password" class="form-control" id="password-repeat"
                     placeholder="Re-enter your password" name="password-repeat" ngModel required>
            </div>

            <button [disabled]="buttonIsPressed" type="submit" class="btn btn-block submit-button">
              <span *ngIf="!buttonIsPressed">Sign Up</span>
              <span *ngIf="buttonIsPressed" class="spinner-border spinner-border-sm"></span>
            </button>
          </form>
        </div>

        <!-- Login -->
        <div class="card-footer text-center mb-4">
          Already have an account? <a routerLink="/login" class="sign-in-link">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>

<ng-template #other>
  <app-register-successful [userEmail]="email"></app-register-successful>
</ng-template>
