<app-base-page [PageTitle]="'Your Decks'">
  <div class="success-container">
    <table class="table container" id="list">
      <thead>
      <tr>
        <td><strong>Name</strong></td>
        <td class="deck-card-left">
          <strong>Card Left</strong>
        </td>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let deck of deckList;">
        <ng-container *ngIf="deck.deckId != -1; else newItem">
          <tr routerLink="/deck/{{deck.deckId}}">
            <td>{{deck.deckName}}</td>
            <td class="deck-card-left">
              <a class="delete-button" *ngIf="this.showDelete" (click)="deleteItem($event, deck.deckId)">
                <i class="bi-trash-fill text-danger"></i>
              </a>
              <span>{{deck.cardsToLearn}}  </span>
              <i class="bi bi-arrow-right"></i>
            </td>
          </tr>
        </ng-container>
        <ng-template #newItem>
          <tr>
            <td>
              <form (ngSubmit)="addedNewDeck()">
                <input id="add-new-item-field" class="form-control" type="text" placeholder="Enter Deck Name"
                       maxlength="255">
              </form>
            </td>
            <td></td>
          </tr>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="deckList.length == 0">
        <tr>
          <td colspan="2">
            <div class="text-container text-center">
              <p>You have not created any decks yet. Let's create one! 😊</p>
              <button class="btn menu-item menu-circle sub-add-button" (click)="addItem()">
                <i class="bi-plus text-white"></i>
              </button>
            </div>

          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

  <div class="menu-wrapper">
    <div *ngIf="showOptions" class="options-panel">
      <!-- Place your options here -->
      <button class="btn menu-item menu-circle sub-menu-circle sub-add-button" (click)="addItem()">
        <i class="bi-plus text-white"></i>
      </button>
      <button class="btn btn-primary menu-item menu-circle sub-menu-circle" (click)="showImportModal(content)">
        <i class="bi-upload text-white"></i>
      </button>
      <button class="btn btn-danger menu-item menu-circle sub-menu-circle" (click)="toggleDeleteItem()">
        <i class="bi-trash-fill text-white"></i>
      </button>
    </div>
    <button class="btn data-mdb-ripple-init menu-circle text-white main-menu-button"
            (click)="toggleOptions()"><i class="bi-list-ul"></i></button>
  </div>

</app-base-page>

<ng-template #content let-modal>
  <div class="modal-header primary-background-color">
    <h4 class="modal-title" id="modal-basic-title">Import your Deck</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
  </div>
  <form (submit)="onSubmitImportDeck($event)">
    <div class="modal-body">
      <input type="file" name="importDeckField" accept="application/zip" (change)="onFileSelected($event)"
             [(ngModel)]="importFile">
    </div>
    <div class="modal-footer">
      <button [disabled]="buttonIsPressed" type="submit" class="btn primary-background-color" value="Send E-Mail">
        <span *ngIf="!buttonIsPressed">Import</span>
        <span *ngIf="buttonIsPressed" class="spinner-border spinner-border-sm"></span>
      </button>
    </div>
  </form>
</ng-template>
