<div id="nav-content-frame">
    <div id="nav-content">
        <div class="goto-home-wrapper">
            <button class="house-button">
            <span class="house-icon">
                <fa-icon class="nav-icon" [icon]="faHouse"></fa-icon>
            </span>
            </button>
            <span id="nav-title">Test</span>
        </div>
        <button class="profile-button">
            <span class="house-icon">
                <fa-icon class="nav-icon" [icon]="faUser"></fa-icon>
            </span>
        </button>
    </div>
</div>