/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url('./assets/Helvetica.woff') format('woff');
}

* {
    font-family: 'Helvetica', sans-serif;
}

:root {
    --primary-color: #02ac02;
    --blank-color: white;
}

p, span, h1, h2, h3, h4, h5, h6 {
}

html, body {
    margin: 0;
    padding: 0;
}
