<div id="login-body">
    <div class="login-container bg-green">
        <h1>Login</h1>
        <form>
            <label>
                <input type="text" placeholder="E-Mail" required>
            </label>
            <br>
            <label>
                <input type="password" placeholder="Password" required>
            </label>
            <div id="remember-me-container">
                <label for="remember-me">
                    <input type="checkbox" id="remember-me">
                    <span>
                Remember Me
            </span>
                </label>
            </div>
            <button type="submit" class="btn-success">Login</button>
        </form>
        <span style="width: 100%"></span>
        <p>Are you new here? <a routerLink="/register">Register here</a></p>
    </div>
</div>
