<div id="login-body">
  <div class="login-container container">
    <h1>Login</h1>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" id="login-form">
      <label>
        <input [style.border-color]="emailBorder" type="email" placeholder="E-Mail" name="email" ngModel>
      </label>
      <br>
      <label>
        <input [style.border-color]="passwordBorder" type="password" placeholder="Password" name="password" required
               ngModel minlength="8">
      </label>
      <div id="remember-me-container">
        <label for="remember-me">
          <input value="false" [defaultChecked]="true" name="remember" type="checkbox" id="remember-me" ngModel>
          <span class="text-white">
                Remember Me
            </span>
        </label>
        <p style="margin: 0;">
          <a routerLink="/forgot-password" routerLinkActive="active" style="text-decoration: none;">Forgot your
            password?</a>
        </p>
      </div>
      <button type="submit" class="btn-success">Login</button>
    </form>
    <span style="width: 100%"></span>
    <p class="text-white">Are you new here? <a routerLink="/register">Register here</a></p>
  </div>
</div>
