<div id="login-body">
    <div class="login-container">
        <h1>Login</h1>

        <ng-form (ngSubmit)="submitLogin()">
          <label>
            <input type="text" placeholder="E-Mail" formControlName="email">
          </label>
          <br>
          <label>
            <input type="password" placeholder="Password" formControlName="password">
          </label>
          <div id="remember-me-container">
            <label for="remember-me">
              <input name="remember" type="checkbox" id="remember-me" formControlName="remember">
              <span>
                Remember Me
            </span>
            </label>
          </div>
          <button type="submit" class="btn-success">Login</button>
        </ng-form>
        <span style="width: 100%"></span>
        <p>Are you new here? <a routerLink="/register">Register here</a></p>
    </div>
</div>
