<div class="reset-password-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card reset-password">
        <div class="reset-password-body">

          <!-- Simon -->
          <div class="text-center">
            <img ngSrc="assets/fox3.png" alt="Profile Image" class="simon" height="500" width="500">
            <h2 class="my-3">{{ 'reset_your_password' | translate }}</h2>
          </div>
          <form #resetPasswordForm (ngSubmit)="submit(newPassword)" id="resetPasswordForm" class="mx-3">

            <!-- New password input -->
            <div class="form-group mb-4">
              <label for="newPassword" class="form-label">{{ 'password' | translate }}</label>
              <span class="password-policy" title="{{'password_requirements' | translate }}">
                ?
              </span>
              <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'"
                       class="form-control"
                       id="newPassword"
                       placeholder="{{ 'enter_new_password' | translate}}"
                       name="newPassword"
                       [(ngModel)]="newPassword">
                <button type="button" class="btn toggle-password" (click)="showPassword = !showPassword">
                  <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
                </button>
              </div>
              <div class="error text-danger mt-2" *ngIf="passwordError">
                {{passwordError}}
              </div>
            </div>

            <!-- Re-enter new password input -->
            <div class="form-group">
              <label for="reenterNewPassword" class="form-label">{{ 'confirm_password' | translate}}</label>
              <div class="input-group">
                <input [type]="showPasswordRepeat ? 'text' : 'password'"
                       class="form-control"
                       id="reenterNewPassword"
                       placeholder="{{'confirm_new_password' | translate}}"
                       name="reenterNewPassword"
                       [(ngModel)]="reenterNewPassword">
                <button type="button" class="btn toggle-password" (click)="showPasswordRepeat = !showPasswordRepeat">
                  <fa-icon [icon]="showPasswordRepeat ? faEye : faEyeSlash"></fa-icon>
                </button>
              </div>
              <div class="error text-danger mt-2" *ngIf="passwordRepeatError">
                {{passwordRepeatError}}
              </div>
            </div>

            <button [disabled]="isButtonPressed" type="submit" class="btn btn-block submit-button mt-4" id="submit-new-password">
              <span *ngIf="!isButtonPressed">{{ 'reset_your_password' | translate }}</span>
              <span *ngIf="isButtonPressed" class="spinner-border spinner-border-sm"></span>
            </button>
          </form>
        </div>

        <!-- Back to Login -->
        <div class="card-footer text-center mt-4 mb-4">
          <a routerLink="/login" class="return-to-login">{{'back_to_login' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
