/* Common properties for multiple elements */
.reset-password-container, button {
  margin: 40px auto;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-password-container {
  margin: 40px auto;
  width: 400px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: transparent;
}

.reset-button:disabled:hover {
  background-color: grey;
}
.reset-button:disabled {
  border-color: grey;
  color: grey;
}

.reset-button {
  transition: all .5s ease;
  width: 95%;
  color: var(--primary-color);
  border-radius: 8px;
  border: 3px solid var(--primary-color);
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.reset-button:hover {
  color: #ffffff;
  background-color: var(--primary-color);
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

h4 {
  margin-bottom: 10px;
}

p.success {
  color: green;
}

.login-button {
  transition: all .5s ease;
  width: 95%;
  color: #ffffff;
  border-radius: 8px;
  border: 3px solid #009900;
  font-size: 16px;
  text-align: center;
  background-color: #009900;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.login-button:hover {
  color: #ffffff;
  background-color: #006600;
}

@media screen and (max-width: 600px) {
  .reset-password-container {
    width: 90%;
    max-width: 300px;
    padding: 20px;
  }
}

.passwordInputField {
  margin-top: 5px;
}
