<div class="reset-password-container">
  <h4>Reset your password</h4>
  <hr class="separator">
  <form (ngSubmit)="submit(newPasswordInput.value)">
    <div class="form-group">
      <input type="password" id="newPassword" placeholder="Enter new password" class="form-control" #newPasswordInput name="pw" ngModel>
    </div>
    <div class="passwordInputField">
      <input type="password" id="confirmPassword" placeholder="Confirm new password" class="form-control"
             #confirmPasswordInput name="confirmPw" ngModel>
      <div *ngIf="comparePassword(newPasswordInput.value, confirmPasswordInput.value)" class="text-danger">
        Passwords do not match
      </div>
    </div>
    <div class="resetPasswordWrapper">
      <button [disabled]="comparePassword(newPasswordInput.value, confirmPasswordInput.value)" class="reset-button">
        <span>Reset password</span>
      </button>
      <ng-container *ngIf="isLoading">
        <div class="spinner-border"></div>
      </ng-container>
      <button class="login-button" routerLink="/login">Back to Login</button>
    </div>
  </form>
</div>
