<div class="reset-password-container">
  <h4>{{ 'reset_your_password' | translate }}</h4>
  <hr class="separator">
  <form (ngSubmit)="submit(newPasswordInput.value)">
    <div class="form-group">
      <input type="password" id="newPassword" placeholder="{{ 'enter_new_password' | translate}}" class="form-control" #newPasswordInput name="pw" ngModel>
    </div>
    <div class="passwordInputField">
      <input type="password" id="confirmPassword" placeholder="{{'confirm_new_password' | translate}}" class="form-control"
             #confirmPasswordInput name="confirmPw" ngModel>
      <div *ngIf="comparePassword(newPasswordInput.value, confirmPasswordInput.value)" class="text-danger">
        {{ 'passwords_do_not_match' | translate }}
      </div>
    </div>
    <div class="resetPasswordWrapper">
      <button [disabled]="comparePassword(newPasswordInput.value, confirmPasswordInput.value)" class="reset-button">
        <span>{{ 'reset_your_password' | translate }}</span>
      </button>
      <ng-container *ngIf="isLoading">
        <div class="spinner-border"></div>
      </ng-container>
      <button class="login-button" routerLink="/login">{{'back_to_login' | translate}}</button>
    </div>
  </form>
</div>
