#add-button-wrapper {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

#add-button {
  translate: 50%;
}
