<app-base-page>
  <div class="container-fluid deck-view-container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-10">
        <div class="card deck-view-card">
          <div class="card-body">

            <!-- Deck Information -->
            <div class="text-center">
              <h2 class="my-3"> {{ deckTitle }} </h2>
              <div class="deck-info d-flex justify-content-between">
                <div class="deck-stat-container">
                  <div class="badge-style">{{ deckCardsLeft }}</div>
                  <div class="stat-label">Cards left</div>
                </div>
                <div class="deck-stat-container">
                  <div class="badge-style">{{ deckSize }}</div>
                  <div class="stat-label">Deck size</div>
                </div>
              </div>

              <div class="progress-chart-container">
                <app-donut-chart *ngIf="awaitChange" [chartNames]="chartNames" [chartValues]="chartData"></app-donut-chart>
              </div>
            </div>

          </div>


          <div class="deck-actions mb-4 text-center d-flex flex-column align-items-center">
            <button class="btn custom-action-button mb-2"
                    routerLink="./learn"
                    (click)="startLearningSession()"
                    [disabled]="deckCardsLeft===0"
                    [ngClass]="{'disabled-function-color': deckCardsLeft === 0}">
              Start to Learn
            </button>
            <button class="btn custom-action-button mb-2" disabled>Quick Peek</button>
          </div>

          <!-- Share and Export -->
          <div class="card-footer mb-4 text-center">
            <button class="btn custom-button-footer btn-sm" (click)="openModal(content)">Share</button>
            <button class="btn custom-button-footer btn-sm" (click)="exportButtonPressed()">Export</button>
            <button class="btn custom-button-footer btn-sm" routerLink="./edit">Edit</button>
            <button class="btn custom-button-footer btn-sm" routerLink="./histories">
              <i class="bi bi-clock-history"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-base-page>
  <ng-template #content let-modal>
    <div class="modal-header primary-background-color">
      <h4 class="modal-title" id="modal-basic-title">Share your Deck</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
    </div>
    <form (submit)="onSubmit()">
      <div class="modal-body">
        <label for="email-holder">Enter the E-Mail Address of the recipient:</label>
        <input type="email" class="form-control" id="email-holder" [style.border-color]="emailBorder" [(ngModel)]="email"
               name="email"
               placeholder="example@example.com">
        <p *ngIf="emailWarn" class="text-center text-danger fw-bold">Please enter a valid e-mail</p>
      </div>
      <div class="modal-footer">
        <button [disabled]="buttonIsPressed" type="submit" class="btn primary-background-color" value="Send E-Mail">
          <span *ngIf="!buttonIsPressed">Share</span>
          <span *ngIf="buttonIsPressed" class="spinner-border spinner-border-sm"></span>
        </button>
      </div>
    </form>
  </ng-template>
