/* Common properties for multiple elements */
.forgot-password-container, button {
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-container {
  margin: 40px auto;
  width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: transparent;
}

button {
  transition: all .5s ease;
  width: 95%;
  color: var(--primary-color);
  border-radius: 8px;
  border: 3px solid var(--primary-color);
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  color: #ffffff;
  background-color: var(--primary-color);
}

@media screen and (max-width: 600px) {
  .forgot-password-container {
    width: 90%;
    max-width: 300px;
    padding: 20px;
  }
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

h4 {
  margin-bottom: 10px;
}

p.error {
  color: red;
}
