.forgot-password-container {
  margin: 40px auto;
  width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.resetPasswordWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-continue {
  display: block;
  width: 90%;
  height: 45px;
  line-height: 46px;
  text-align: center;
  border-radius: 8px;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: all .35s;
  margin-top: 20px;
  cursor: pointer;
  padding: 0 10px;
}

.btn-continue:before,
.btn-continue:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: var(--primary-color);
  z-index: -1;
  transition: all .35s;
}

.btn-continue:before {
  opacity: 0.5;
}

.btn-continue:after {
  transition-delay: .2s;
}

.btn-continue:hover {
  color: #fff;
}

.btn-continue:hover:before,
.btn-continue:hover:after {
  top: 0;
}

@media screen and (max-width: 600px) {
  .forgot-password-container {
    width: 90%;
    max-width: 300px;
    padding: 20px;
  }
}

h4 {
  margin-bottom: 20px;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

p.error {
  color: red;
}

