<div class="forgot-password-container">
  <span class="btn-button" routerLink="/login">&#x2715;</span>
  <h4>Reset your password</h4>
  <hr class="separator">
  <form class="form-group" (ngSubmit)="onSubmit(emailInput.value)">
    <input type="email" id="email" placeholder="Enter email address" class="form-control" (change)="checkEmail()" #emailInput>
    <div *ngIf="emailInput.value != '' && !isValidEmail(emailInput.value)" class="text-danger">
      Please enter a valid email address
    </div>
    <div class="resetPasswordWrapper">
      <button type="submit" class="continue-button" id="submit-btn" [disabled]="!isValidEmail(emailInput.value)">
        <ng-container *ngIf="!isLoading; else showButton">
        Continue
        </ng-container>
        <ng-template  #showButton>
          <div class="spinner-border">
          </div>
        </ng-template>
      </button>
    </div>
  </form>
</div>
