<div class="forgot-password-container">
  <span class="btn-button" routerLink="/login">&#x2715;</span>
  <h4>{{ 'reset_your_password' | translate}}</h4>
  <hr class="separator">
  <form class="form-group" (ngSubmit)="onSubmit(emailInput.value)">
    <input type="email" id="email" [placeholder]="'input_email' | translate" class="form-control" #emailInput>
    <div class="text-danger">
      {{emailError}}
    </div>
    <div class="resetPasswordWrapper">
      <button type="submit" class="continue-button" id="submit-email">
        <ng-container *ngIf="!isLoading; else showButton">
          {{ 'continue' | translate}}
        </ng-container>
        <ng-template  #showButton>
          <div class="spinner-border">
          </div>
        </ng-template>
      </button>
    </div>
  </form>
</div>
