<div class="forgot-password-container">
  <h4>Reset your password</h4>
  <hr class="separator">
  <div class="form-group">
    <input type="email" id="email" placeholder="Enter email address" class="form-control" #emailInput>
    <div *ngIf="emailInput.value !== '' && !isValidEmail(emailInput.value)" class="text-danger">
      Please enter a valid email address
    </div>
  </div>
  <div class="resetPasswordWrapper">
    <button [disabled]="emailInput.value === '' || !isValidEmail(emailInput.value)" class="btn-continue" (click)="onContinue(emailInput.value)">Continue</button>
    <p *ngIf="emailSent">We sent you an email to {{ userEmail }}. Please follow the steps provided in the email to reset your password.</p>
    <p *ngIf="userNotFound" class="error">{{ errorMessage }}</p>
  </div>
</div>
