<app-base-page>

  <div class="edit-card container mt-5">
    <div class="edit-card-form mt-2">
      <div>
        <button class="btn" [routerLink]="'/deck/' + this.deckId + '/edit'">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          <span>Back to List</span>
        </button>
      </div>
      <form *ngIf="hasLoaded" (ngSubmit)="saveCardToBackend()">

        <!-- Card type selection -->
        <div class="form-group customized-form-group row mb-3 mt-4 align-items-center">
          <label for="cardTypeSelect" class="col-sm-2 col-form-label customized-col-form-label">Card type</label>
          <div class="col-sm-8">
            <select class="form-control customized-form-control" id="cardTypeSelect"
                    (change)="updateCardType(cardTypeInput)" #cardTypeInput
                    name="cardType" [disabled]="this.cardId != 'new'"
                    [value]="cardType">
              <option value="basic">Basic</option>
              <option value="multipleChoice">Multiple Choice</option>
            </select>
          </div>
        </div>

        <!-- Content for 'Basic' cards -->
        <div *ngIf="isBasicCard">
          <!-- Card front input -->
          <div class="form-group row mb-4 align-items-center">
            <div class="col-sm-2 col-form-label">Add your question</div>
            <div class="col-sm-8">
              <textarea rows="10" cols="40" class="form-control custom-textarea-frontcard"
                        [(ngModel)]="questionCardDTO.question"
                        name="cardFront"></textarea>
            </div>
            <div class="col-sm-2 mt-2">
              <button type="button" class="btn btn-rounded upload-img-button" (click)="openModal(-1)">
                <fa-icon class="nav-icon fa-xl fa-solid" [icon]="faUpload"></fa-icon>
              </button>
              <div class="oldImgDisplayWrapper" *ngIf="this.questionCardDTO.imageId">
                <img class="oldImgDisplay" [src]="'api/v1/images/' + this.questionCardDTO.imageId" width="50"
                     height="50" alt="Uploaded Img">
                <a class="deleteOldImg" (click)="deleteImgBasicQuestion()">
                  <fa-icon class="text-danger" [icon]="faTrash"></fa-icon>
                </a>
              </div>
            </div>
          </div>
          <hr>

          <!-- Card back input -->
          <div class="form-group row mb-2 mt-4 align-items-center">
            <div class="col-sm-2 col-form-label">Add the answer</div>
            <div class="col-sm-8">
              <textarea rows="10" cols="40" class="form-control custom-textarea-backcard"
                        [(ngModel)]="choiceAnswers[0].answer"
                        name="cardBack"></textarea>
            </div>
            <div class="col-sm-2 mt-2">
              <button type="button" class="btn btn-rounded upload-img-button" (click)="openModal(1)">
                <fa-icon class="nav-icon fa-xl fa-solid" [icon]="faUpload"></fa-icon>
              </button>
              <div class="oldImgDisplayWrapper" *ngIf="this.choiceAnswers[0]?.imageId">
                <img class="oldImgDisplay" [src]="'api/v1/images/' + this.choiceAnswers[0].imageId" width="50"
                     height="50" alt="Uploaded Img">
                <a class="deleteOldImg" (click)="deleteImgBasicAnswer(0)">
                  <fa-icon class="text-danger" [icon]="faTrash"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Content for 'Multiple Choice' cards -->
        <div *ngIf="!isBasicCard">

          <!-- Card front input -->
          <div class="form-group row mb-4 align-items-center">
            <div class="col-sm-2 col-form-label">Add your question</div>
            <div class="col-sm-8">
              <textarea class="form-control custom-textarea-frontcard-mc" [(ngModel)]="questionCardDTO.question"
                        name="cardFront"></textarea>
            </div>
            <div class="col-sm-2 mt-2">
              <button type="button" class="btn btn-rounded upload-img-button" (click)="openModal(-1)">
                <i class="fa fa-upload"></i>
                <fa-icon class="nav-icon fa-xl" [icon]="faUpload"></fa-icon>
              </button>
              <div class="oldImgDisplayWrapper" *ngIf="this.questionCardDTO.imageId">
                <img class="oldImgDisplay" [src]="'api/v1/images/' + this.questionCardDTO.imageId" width="50"
                     height="50" alt="Uploaded Img">
                <a class="deleteOldImg" (click)="deleteImgBasicQuestion()">
                  <fa-icon class="text-danger" [icon]="faTrash"></fa-icon>
                </a>
              </div>
            </div>
          </div>
          <hr>

          <!-- Options for Multiple Choice -->
          <div class="form-group" *ngFor="let answer of choiceAnswers; let i = index">
            <div class="row mt-4 align-items-center">
              <!-- Option label -->
              <div class="col-sm-2 col-form-label">
                Option {{ i + 1 }}
              </div>
              <!-- Textarea for the option -->
              <div class="col-sm-6">
                <textarea rows="10" cols="40" type="text" class="form-control custom-textarea-multiple-choice"
                          [ngModel]="answer.answer"
                          (ngModelChange)="updateOptionText(i, $event)" name="option{{i}}"></textarea>
              </div>
              <!-- Upload image button and delete option button -->
              <div class="col-sm-4 mt-2 d-flex align-items-center">
                <!-- Upload image button -->
                <button type="button" class="btn btn-rounded upload-img-button" (click)="openModal(i)">
                  <fa-icon class="nav-icon fa-xl" [icon]="faUpload"></fa-icon>
                </button>
                <!-- Delete option button -->
                <button type="button" class="btn btn-danger delete-option-button ml-2 customized-margin-left"
                        (click)="deleteOption(i)">
                  <fa-icon class="nav-icon fa-xl" [icon]="faTrash"></fa-icon>
                </button>
                <div class="oldImgDisplayWrapper" *ngIf="answer.imageId">
                  <img class="oldImgDisplay" [src]="'api/v1/images/' + answer.imageId" width="50" height="50"
                       alt="Uploaded Img">
                  <a class="deleteOldImg" (click)="deleteImgBasicAnswer(i)">
                    <fa-icon class="text-danger" [icon]="faTrash"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
            <!-- Row for correct answer checkbox -->
            <div class="row mb-2 align-items-center">
              <div class="col-sm-2">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                         name="isRightAnswer" [checked]="this.choiceAnswers[i].rightAnswer" (change)="isCorrectCheckChanged(i, $event)">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Correct answer</label>
                </div>
              </div>
            </div>

          </div>

          <!-- Button to add more options -->
          <div class="form-group row">
            <div class="col-md-10 text-center">
              <button type="button" class="btn add-option-button" (click)="addOption()">
                <fa-icon class="nav-icon fa-xl" [icon]="faPlus"></fa-icon>
              </button>
            </div>
          </div>
        </div>

        <!-- Save card button -->
        <div class="form-group row mt-3 save-button-wrapper">
          <div class="col-sm-12">
            <button type="submit" class="btn save-button btn-rounded float-end">
              <fa-icon class="nav-icon fa-xl" [icon]="faSave"></fa-icon>
            </button>
          </div>
        </div>
      </form>
      <div *ngIf="!hasLoaded" class="d-flex align-items-center justify-content-center">
        <div class="spinner-border">

        </div>
      </div>
      <!-- Modal for image upload-->
      <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content upload-image-modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="uploadModalLabel">Upload image</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                      (click)="closeModal()"></button>
            </div>
            <div class="modal-body upload-image-modal-body">
              <!-- Drag & Drop Area -->
              <div class="upload-area" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
                Drag & Drop files here or
                <a href="#" class="browse-link" (click)="openFilePicker($event)">click to browse</a>
              </div>
              <input type="file" accept=".jpg, .jpeg, .png" #fileInput (change)="onFileSelected($event, fileInput)"
                     hidden>
            </div>
            <div class="icon-container">
              <div class="file-list" *ngIf="this.selectedFile != null">
                <div class="file-info">
                  <fa-icon class="nav-icon fa-xl" [icon]="faFileImage"></fa-icon>
                  <span class="file-name">{{ this.selectedFile.name }}</span>
                </div>
                <fa-icon class="nav-icon fa-xl fa-solid" (click)="deleteFile()" [icon]="faTrash"></fa-icon>
              </div>
            </div>
            <div class="modal-footer upload-image-modal-footer">
              <button type="button" class="btn image-upload-done-button btn-square btn-rounded" data-bs-dismiss="modal"
                      aria-label="Close" (click)="confirmImageSave()">
                Done
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-base-page>

<!-- Welcome modal (experimental) -->
<div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
  <div class="modal-dialog customized-modal-width modal-dialog-centered customized-modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header welcome-modal-header">
        <h5 class="modal-title" id="welcomeModalLabel">Hey, Simon here!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="dontShowSimonAgainOnPageLoad()"></button>
      </div>
      <div class="modal-body welcome-modal-body">
        <img ngSrc="assets/fox1.png" alt="Simon the fox"
             class="img-frog mb-2" height="490" width="490">
        <p>Here you can edit or create cards, upload images and start your learning journey. Much love and fun,
          Simon 🦊</p>
      </div>
    </div>
  </div>
</div>
