<app-base-page [PageTitle]="'Edit Deck'">

  <div class="container search-and-sort-container my-3">
    <!-- Return Button -->
    <div class="row align-items-center justify-content-start">
      <div class="col-md-6 col-lg-4">
        <button class="btn return-button" [routerLink]="'/deck/' + this.onClickReturn()">
          <fa-icon [icon]="faReply" class="fa fa-solid"></fa-icon>
          Return to Deck
        </button>
      </div>
    </div>

    <!-- Search and Sort Bar -->
    <div class="row align-items-center justify-content-end mt-3">
      <!-- Search -->
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="search-container align-items-center d-flex">
          <fa-icon [icon]="faSearch" class="custom-icon fa-l fa-solid"></fa-icon>
          <input type="text" placeholder="Search" class="form-control search-input custom-search-bar" aria-label="Search" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()">
        </div>
      </div>

      <!-- Sort -->
      <div class="col-12 col-md-6 col-lg-3 mb-3">
        <div class="sort-container align-items-center d-flex">
          <fa-icon [icon]="faArrowUpZA" class="custom-icon fa-l fa-solid"></fa-icon>
          <select class="form-select sort-select custom-sort-bar" aria-label="Sort order" [(ngModel)]="sortOrder" (ngModelChange)="onSortOrderChange()">
            <option value="" disabled>Sort by</option>
            <option value="oldest" selected>Oldest</option>
            <option value="newest">Newest</option>
            <option value="nameAsc">Name ascending</option>
            <option value="nameDesc">Name descending</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <table class="table container" id="list">
      <!-- <thead> -->
      <thead>
      <tr>
        <td class="text-start"><strong>Question</strong></td>
        <td class="text-end"><strong>Question Type</strong></td>
      </tr>
      </thead>

      <!-- <tbody> -->
      <tbody>

      <!-- Default list entries -->
      <tr *ngFor="let card of displayedCards" class="hover-highlight" routerLink="/deck/{{deckId}}/card/{{card.id}}/edit">
        <td class="align-middle">
          <span class="d-inline-block">{{card.question}}</span>
        </td>
        <td class="align-middle">
          <div class="row g-2 justify-content-end align-items-center">
            <div class="col-auto">{{card.type == 'BASIC' ? "Basic Card" : "Multiple Choice Card"}}</div>
            <div class="col-auto">

              <!-- Delete -->
              <ng-container *ngIf="showDelete">
                <a class="delete-button" (click)="deleteItem($event, card.id)">
                  <i class="bi-trash-fill text-danger"></i>
                </a>
              </ng-container>
            </div>
          </div>
        </td>
      </tr>

      <!-- If no cards have been created yet -->
      <ng-container *ngIf="displayedCards.length == 0">
        <tr>
          <td colspan="2" class="text-center">
            <p class="text-muted">No cards found! Create one 😊</p>
            <button class="btn menu-item menu-circle sub-add-button" routerLink="/deck/{{deckId}}/card/new/edit">
              <i class="bi-plus text-white"></i>
            </button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>


  <div class="menu-wrapper">
    <div *ngIf="showOptions" class="options-panel">
      <button class="btn menu-item menu-circle sub-menu-circle sub-add-button"
              routerLink="/deck/{{deckId}}/card/new/edit">
        <i class="bi-plus text-white"></i>
      </button>
      <button class="btn btn-danger menu-item menu-circle sub-menu-circle" (click)="toggleDeleteItem()">
        <i class="bi-trash-fill text-white"></i>
      </button>
    </div>
    <button class="btn data-mdb-ripple-init menu-circle text-white main-menu-button"
            (click)="toggleOptions()"><i class="bi-list-ul"></i></button>
  </div>
</app-base-page>
